$fontMain:16px;
$maxWidth:414px;
$borderRadiusMain:37px;
$lineHeight:20px;
$bgColorSUbtn: #52439A;
$bgColorSIbtn: #BD1FE1;
$boxShadowbtnSU:0px 25px 45px rgba(82, 67, 154, 0.25);
$boxShadowbtnSI:0px 25px 45px rgba(120, 37, 139, 0.25);