@import "../base/global";
@import "../base/variable";
@import "../base/mixin";
@import "../base/fonts";
.layout {
    width: 414px;
    height: 896px;
    padding: 54px 36px 0 36px;
    margin: 100px auto;
    text-align: center;
    @include bgcLayout("pink");
    &__title {
        font-size: 20px;
        font-weight: 600px;
        color: $ColorWhite;
        opacity: 0.75;
        margin-bottom: 7px;
        line-height: 23, 87px;
        letter-spacing: 1.1px;
    }
    &__request {
        font-family: pro;
        font-size: 34px;
        font-weight: 600;
        color: $ColorWhite;
        margin-bottom: 37px;
        letter-spacing: 1.1px;
    }
    &--signup {
        @include bgcLayout("Blue");
    }
    &__or {
        font-size: 14px;
        padding: 12px;
        color:$ColorWhite;
    }
}