*,
*::before,
*::after {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

input {
	color: #3c3c43;
	border: none;
	outline: none;
	font-weight: 600;
}

.app {
	position: relative;
	width: 414px;
	height: 896px;
	font-family: SF Pro Display;
}

.sign-in {
	background: linear-gradient(180deg, #e5b2ca 0%, #cd82de 100%);
}

.layout-status-bar {
	display: flex;
	justify-content: space-between;
}
.time {
	margin: 14px 0 0 21px;
	height: 18px;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #ffffff;
}
.layout-status-bar .header {
	margin: 14px 14px 0 0;
	height: 11px;
	width: 70px;
	display: flex;
	justify-content: space-between;
}

.layout-mask__img {
	margin: 24px 0 0 31px;
	width: 353px;
	height: 290px;
}

.layout-mask__img--regis {
	margin: 24px 0 0 68px;
	width: 282px;
	height: 292px;
}

.layout-frame {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	height: 71px;
	margin: 20px auto;
}
.title-first {
	font-weight: 600;
	font-size: 20px;
	color: rgba(255, 255, 255, 0.75);
	margin: 6px 0px;
}
.title-second {
	font-weight: 800;
	font-size: 34px;
	color: #ffffff;
	margin: 6px 0px;
}

.input-user {
	margin: auto;
	width: 342px;
	height: 74px;
	background: #ffffff;
	border-radius: 37px;
	position: relative;
}
.input-user__img {
	position: absolute;
	width: 13.04px;
	height: 13.91px;
	left: 21.87px;
	top: 29.89px;
}
.input-user__text {
	position: absolute;
	width: 250px;
	height: 68px;
	left: 60px;
	top: 3px;
}
.input-password {
	margin: 16px auto;
	width: 342px;
	height: 74px;
	background: #ffffff;
	border-radius: 37px;
	position: relative;
}
.input-password__img {
	position: absolute;
	width: 10.22px;
	height: 18.68px;
	left: 21.87px;
	top: 26.33px;
}
.input-password__text {
	position: absolute;
	width: 250px;
	height: 68px;
	left: 56px;
	top: 3px;
}
.btn__primary {
	margin-bottom: 106px;
	background: #78258b;
	box-shadow: 0px 25px 45px rgba(120, 37, 139, 0.25);
	margin-left: 36px;
	border-radius: 37px;
	border: none;
	width: 342px;
	height: 70px;
	color: #ffffff;
	font-weight: 800;
	letter-spacing: 1px;
}
.btn__primary:hover {
	cursor: pointer;
	opacity: 0.8;
}
.icon {
	margin-left: 5px;
}
.btn__secondary {
	padding: 25px 94px;
	background: rgba(255, 255, 255, 0.28);
	box-shadow: 0px 25px 45px rgba(120, 37, 139, 0.25);
	margin-left: 36px;
	border-radius: 37px;
	border: none;
	width: 342px;
	height: 70px;
	color: #ffffff;
	font-weight: 800;
	letter-spacing: 1px;
}

.layout-separator::after {
	content: '';
	position: absolute;
	width: 148px;
	top: 10px;
	border: 1px dashed rgba(255, 255, 255, 0.4);
	left: 36px;
}

.layout-separator::before {
	content: '';
	position: absolute;
	width: 148px;
	top: 10px;
	border: 1px dashed rgba(255, 255, 255, 0.4);
	left: -170px;
}

.btn__secondary:hover {
	cursor: pointer;
	opacity: 0.8;
}

.layout-separator {
	position: absolute;
	left: 200px;
	top: 740px;
	font-weight: 500;
	font-size: 14px;
	color: #ffffff;
}
