.wrapper {
    width: 100%;
    border: 1px solid #000;
    padding: 20px;
    border-radius: 15px;
}

.collapse {    
    .itemExpand {
        display: none !important;
    }

   text-align: center;

    .header {
        font-weight: 700;
        font-size: 14px;
    }

    .weatherCollapse {
        margin: 20px 0;
        img {
            width: 60px;
        }
    }
}

.expand {
    .itemCollapse {
        display: none !important;
    }

    .header {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .imageWeather img {
        width: 60px;
        margin-right: 10px;
    }

    .contentWeather { 
        display: flex;
        justify-content: space-around;
        align-items: center;

        .weather {
            display: flex;
        }

        .contentImage {
            padding: 10px 0;
            
            p {
                margin-bottom: 5px;
            }
        }

        .content {
            p {
                margin-bottom: 10px;
            }
        }
    }

}

