@font-face {
    font-family: "SF PRO Display";
    src: url("../fonts/FontsFree-Net-SFProDisplay-Regular.ttf");
}

@font-face {
    font-family: "SF PRO Text";
    src: url("../fonts/FontsFree-Net-SFProText-Regular.ttf");
}

body {
    font-family: "SF PRO Display";
}