/* css line */

.container {
    .line {
        padding: 0 36px 32px 36px;
        text-align: center;
        legend {
            display: flex;
            justify-content: center;
        }
    }
}