.btn {
    font-family: pro;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--white);
    width: 342px;
    height: 70px;
    border-radius: 37px;
    outline: none;
    border: none;
    background: #78258b;
    box-shadow: 0px 25px 45px rgba(120, 37, 139, 0.25);
    cursor: pointer;
}
.btn--blue {
    background: #52439a;
    box-shadow: 0px 25px 45px rgba(82, 67, 154, 0.25);
}
.btn--signup {
    background: rgba(255, 255, 255, 0.28);
    box-shadow: 0px 25px 45px rgba(82, 67, 154, 0.25);
}
.btn:hover {
    opacity: 0.65;
    transition: opacity 0.5s ease-in-out;
}