// Page Login
.Box {
    margin-top: 200px;
    border-radius: 10px;
    border: 1px solid #333;
    &__header {
        margin-top: 10px;
    }
    &__content {
        width: 100%;
        .form {
            width: 90%;
            &-group {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                input {
                    width: 100%;
                }
            }
        }
    }
    &__error {
        color: red;
        padding: 10px 0px 10px 0px;
    }
    &__footer {
        width: 100%;
    }
}

// Home Page
.main {
    &__aside {
        min-height: 97vh;
        background-color: rgba(51, 51, 51, 0.2);
    }
    .info {
        &__img {
            border-radius: 50%;
            width: 30%;
            margin: (20 / 16)+rem;
        }
    }
    .nav {
        &__item {
            text-decoration: none;
            color: black;
        }
        button {
            background-color: rgba(51, 51, 51, 0);
            border: none;
            text-align: left;
            padding: 0px;
        }
    }
    .job {
        &__Title {
            padding: (20/16) +rem;
            .job__Name::placeholder {
                color: black;
            }
            input:focus {
                outline: none;
            }
            .job__Icon {
                cursor: pointer;
            }
            .header {
                &__right {
                    font-size: 20px;
                    button {
                        background-color: white;
                        border: none;
                    }
                }
            }
        }
        .myTask {
            button {
                background-color: white;
                border: none;
            }
            button:focus {
                outline: none;
                border: none;
            }
        }
    }
}

//Footer
.Footer {
    min-height: 3vh;
    background-color: rgba(51, 51, 51, 0.5);
}

// button
.btn {
    &-login {
        margin: (20 / 16)+rem;
        border: 1px solid #333;
        box-shadow: 5px 5px 5px black;
    }
}

// Dropdown-items
.dropdown-items {
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}