*{
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    background-color: transparent;
}
@media screen and (max-width:768px) {
    
}