.report {
   display: flex;
   min-height: 100vh;
}

.header-right--text---h1 {
   display: flex;
   align-items: center;
   margin-left: 50px;
}

.pie-chart {
   // display:flex;
   width: 250px;
   // height:400px;
}

.bar-chart {

   width: 350px;
   // height:700px;
}