@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin bg($value) {
    @if ($value == "signin") {
        background: linear-gradient(rgb(229, 178, 202) 0%, rgb(205, 130, 222) 100%);
    }
    @if ($value == "signup") {
        background: linear-gradient(rgb(145, 131, 222) 0%, rgb(160, 148, 227) 100%);
    }
    @if ($value == "continue") {
        background: rgb(120, 37, 139);
        box-shadow: rgba(120, 37, 139, 0.25) 0px 25px 45px;
    }
    @if ($value == "create") {
        background: rgba(255, 255, 255, 0.28);
        box-shadow: rgba(120, 37, 139, 0.25) 0px 25px 45px;
    }
    @if ($value == "blue") {
        background-color: #52439a;
        box-shadow: 0px 25px 45px rgba(82, 67, 154, 0.25);
    }
    @if ($value == "login") {
        background: rgba(255, 255, 255, 0.28);
        box-shadow: 0px 25px 45px rgba(82, 67, 154, 0.25);
    }
}