@font-face {
  src: url("../css/font/SFPRODISPLAYREGULAR.OTF");
  font-family: SF Pro Display;
}
.l-nav {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

/* ================ content =================*/
.content {
  width: 353px;
  height: 797px;
  margin: 0 auto;
}

.l-title {
  text-align: center;
  padding-bottom: 43px;
  color: white;
}

.l-form {
  text-align: center;
  padding-bottom: 30px;
}

.fieldset {
  text-align: center;
  border: 1px solid transparent;
  border-top: 1px dashed rgba(255, 255, 255, 0.4);
  padding-bottom: 30px;
}

.nav_list {
  padding-left: 29px;
  margin: auto 0px;
}
.nav_list .nav_list li {
  font-weight: bold;
  color: white;
}
.nav_list .nav_items {
  display: inline-block;
  list-style: none;
  margin: 0 5px;
  color: white;
}
.nav_list .nav_items i {
  color: white;
}

/* ================ banner =================*/
.l-content_img {
  height: 290px;
  width: 353px;
}

/* ================ title =================*/
.l-title span {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 15px;
  display: block;
  color: rgba(255, 255, 255, 0.75);
  font-family: SF Pro Display;
}
.l-title p {
  font-family: SF Pro Display;
  font-size: 34px;
  font-weight: 800;
  text-align: Center;
  vertical-align: top;
  color: rgba(255, 255, 255, 0.75);
}

/*================ form =================*/
.l-form .form_login_input::placeholder {
  color: #3c3c43;
  font-size: 15px;
  font-weight: 600;
}
.l-form .form_login_input {
  position: relative;
  max-width: 100%;
  width: 291px;
  height: 70px;
  margin-bottom: 12px;
  border-radius: 40px;
  outline: none;
  padding-left: 57px;
  border: 1px solid white;
}
.l-form .form_login_input .content--email {
  height: 74px;
}
.l-form .form_login_input .content--pass {
  height: 72px;
}
.l-form .btn {
  width: 342px;
  height: 70px;
  margin-bottom: 12px;
  border-radius: 37px;
  border: none;
  background: #78258B;
  box-shadow: 0px 25px 45px rgba(120, 37, 139, 0.25);
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.l-form .btn:hover {
  background: #a140b7;
}

/*==== icon =====*/
.form_login_icon .icon--right {
  font-size: 21px;
  margin-top: -1px;
  margin-left: 6px;
  position: absolute;
  box-shadow: 0px 25px 45px rgba(120, 37, 139, 0.25);
  border-radius: 37px;
}
.form_login_icon .icon_input {
  position: absolute;
  padding-left: 20px;
  margin-bottom: 20px;
  z-index: 1;
  padding-top: 28px;
}

/*==== Or =====*/
.fieldset legend {
  font-weight: 500;
  font-size: 14px;
  color: white;
  padding: 0px 16px;
}

/*================ button =================*/
.button {
  background-color: rgba(255, 255, 255, 0.28);
  box-shadow: 0px 25px 45px rgba(120, 37, 139, 0.25);
  border-radius: 37px;
  margin-bottom: 12px;
  width: 342px;
  height: 70px;
  text-align: center;
  text-decoration: none;
}

.button-create > a {
  margin-bottom: 12px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  padding: 24px;
  display: block;
  font-weight: 700;
  font-family: SF Pro Text;
  line-height: 19px;
}

.button-create:hover {
  background-color: #ded7db;
}

.container {
  width: 414px;
  height: 950px;
  background: linear-gradient(180deg, #e5b2ca 0%, #cd82de 100%);
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
