@import "../base/variable";
* {
    box-sizing: border-box;
}
html, body {
    min-height: 100vh;
    font-family: $font;
    font-size: 16px;
}
.layout {
    width: 414px;
    margin: auto;
    padding: 52px 30px 45px 30px;
    &-up{
        background: linear-gradient($bgColorUp);
    }
    &-in{
        background: linear-gradient($bgColorIn);
    }
}