@font-face {
    font-family: "SFPro--bold";
    src: url(../../font/SF-Pro-Display-Bold.otf);
}

@font-face {
    font-family: "SFPro";
    src: url(../../font/FontsFree-Net-SFProDisplay-Regular.ttf);
}

@font-face {
    font-family: "SFPro--text";
    src: url(../../font/SF-Pro-Text-Regular.otf);
}

@font-face {
    font-family: "SFPro--medium";
    src: url(../../font/SF-Pro-Display-Medium.otf);
}

@font-face {
    font-family: "SFPro--light";
    src: url(../../font/SF-Pro-Display-Light.otf);
}
html{
    font-size: 16px;
}

body{
    font-family: "SFPro", sans-serif;
}
a {
    text-decoration: none;
}

input:focus {
    outline: none;
    border: none;
}
.text-center {
    text-align: center;
}

