form .btn .icon {
    margin-left: 8px;
}

.icon {
    background: url(/Day-17/PhungDacNhatMinh/img/css_sprites.png);
    width: 13px;
    height: 20px;
    display: inline-block;
}

.icon {
    &--key {
        background-position: -10px -10px;
    }
}

.icon {
    &--user {
        background-position: -75px -11px;
    }
}

.icon {
    &--right {
        background-position: -42px -10px;
    }
}