.wrapper {

    width: 40%;

    .header {
        text-align: center;
        font-size: 50px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .search {
        width: 100%;
        margin: 20px 0;
        position: relative;

        input {
            padding: 10px 40px;
            border: 1px solid #000;
            border-radius: 15px;
            font-size: 14px;
        }

        fieldset {
            border: none;
        }

        .searchIcon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 15px;
            font-size: 20px;
            cursor: pointer;
            z-index: 1;
        }
    }
}