.wrapper {
  border: 2px solid rgb(255, 208, 208);
  width: 180px;
  border-radius: 10px;
  text-align: center;
  font-weight: 400;
  position: absolute;
  top: 30px;
  left: -100px;
  background-color: rgb(41, 41, 41);
  color: #fff;
  z-index: 2;

  & > .header {
    margin-bottom: 10px;
    font-weight: 500;
  }

  & > .title {
    margin-bottom: 5px;
  }

  & > .btns {
    border-top: 2px solid rgb(255, 208, 208);
    display: flex;
    justify-content: center;

    & > span {
      padding: 0 20px;
      cursor: pointer;

      &:last-child {
        border-left: 1px solid rgb(255, 208, 208);
      }
    }
  }
}
