@import url("./base.css");
@import url("./layout.css");
@import url("./module.css");
@import url("./state.css");
@import url("./theme.css");

.button-container__submit-btn {
  background-color: #78258b;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 25px 45px rgba(120, 37, 139, 0.25);
}
.button-container__submit-btn:hover {
  background-color: #ac35c7cb;
}
.separator-container {
  color: #fff;
  position: relative;
  width: 100%;
  display: grid;
  margin: 2rem 0;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}
.separator-container__dashed {
  border-top: 1px dashed rgba(255, 255, 255, 0.4);
}
.separator-container__text {
  padding: 0 0.5rem;
}
.button-container__nav-btn {
  background: rgba(255, 255, 255, 0.28);
  box-shadow: 0px 25px 45px rgba(120, 37, 139, 0.25);
}
.button-container__nav-btn:hover {
  background: rgba(255, 255, 255, 0.445);
}
