.l-signup-theme {
  background: linear-gradient(180deg, #9183de 0%, #a094e3 100%);
}
.l-signup-theme .button-container__submit-btn {
  background: #52439a;
  box-shadow: 0px 25px 45px rgba(82, 67, 154, 0.25);
}
.l-signup-theme .button-container__-btn:hover {
  background: #52439aa8;
}
.l-signup-theme .button-container__nav-btn {
  background: rgba(255, 255, 255, 0.28);
  box-shadow: 0px 25px 45px rgba(82, 67, 154, 0.25);
}
.l-signup-theme .button-container__nav-btn:hover {
  background: rgba(255, 255, 255, 0.438);
}
