.wrapper {
    position: absolute;
    width: 100%;
    max-height: 220px;
    background-color: #f5eeee;
    border-radius: 5px;
    overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 5px;
      }
      
      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1; 
      }
       
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #888; 
      }
      
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555; 
      }


    h4 {
        padding: 15px 5px;
        background: rgb(207, 207, 207);
    }

    .city {
        padding: 10px 5px;
        border-bottom: 1px solid rgb(119, 119, 119);
        cursor: pointer;
    }
}