//fonts
$font: "SF Pro Display";
//font size
$fontSz15: 15px;
//color
$bgColorUp:180deg, #E5B2CA 0%, #CD82DE 100%;
$bgColorIn:180deg, #9183DE 0%, #A094E3 100%;
$colorWhite:#ffffff;
$colorWhite07:rgba(255, 255, 255, 0.75);
$denxam:#3C3C43;
$colorBtnUp:#78258B;
$colorBtnIn:#52439A;
$colorBoxShadowUp:rgba(120, 37, 139, 0.25);
$colorBoxShadowIn: rgba(82, 67, 154, 0.25);
$colorBoxShadowLingIn: rgba(82, 67, 154, 0.25);
$colorBoxShadowLingUp: rgba(120, 37, 139, 0.25);
$colorBgLInk:rgba(255, 255, 255, 0.28);
//border radius
$bdR:37px;