.nav_list {
    padding-left: 29px;
    margin: auto 0px;
    .nav_list li {
        font-weight: bold;
        color: $color-white;
    }
    .nav_items {
        display: inline-block;
        list-style: none;
        margin: 0 5px;
        color: $color-white;
                & i {
                    color: $color-white;
                }
         }
    }
/* ================ banner =================*/

.l-content_img {
	height: 290px;
	width: 353px;
}

/* ================ title =================*/
.l-title {
    & span {
        font-family: SF Pro Display;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 15px;
        display: block;
        color: $color-title;
        font-family: SF Pro Display;
    }
    & p {
        font-family: SF Pro Display;
        font-size: 34px;
        font-weight: 800;
        text-align: Center;
        vertical-align: top;
        color:$color-title;
    }
}

/*================ form =================*/
.l-form {
    .form_login_input::placeholder {
        color: $color-black;
        font-size: 15px;
        font-weight: 600;
      }
      .form_login_input {
        position: relative;
        max-width: 100%;
        width: 291px;
        height:$size-btn;
        margin-bottom: 12px;
        border-radius: 40px;
        outline: none;
        padding-left: 57px;
        border: 1px solid $color-white;
            .content--email {
                height: $size-input-account;
            }
            .content--pass {
                height: $size-input-password;
            }
    }
    .btn {
        width: 342px;
        height: $size-btn;
        margin-bottom: 12px;
        border-radius: $border-radius;
        border: none;
        background: $button-primary;
        box-shadow: 0px 25px 45px rgba(120, 37, 139, 0.25);
        color: $color-white;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
            &:hover {
                background: #a140b7;
            }
    }
}

/*==== icon =====*/
.form_login_icon {
    .icon--right {
        font-size: 21px;
        margin-top: -1px;
        margin-left: 6px;
        position: absolute;
        box-shadow: 0px 25px 45px rgba(120, 37, 139, 0.25);
        border-radius: $border-radius;
    }
    .icon_input {
        position: absolute;
        padding-left: 20px;
        margin-bottom: 20px;
        z-index: 1;
        padding-top: 28px;
    }
}

/*==== Or =====*/

.fieldset {
        & legend {
            font-weight: 500;
            font-size: 14px;
            color: $color-white;
            padding: 0px 16px;
          }
  }
  
  /*================ button =================*/
.button {
    @include bgc($background_button );
	box-shadow: $box-shadow-button;
	border-radius: $border-radius;
    margin-bottom: 12px;
    width: 342px;
	height: $size-btn;
    text-align: center;
    text-decoration: none;
}
.button-create > a {
    margin-bottom: 12px;
    font-size: 16px;
    text-decoration: none;
    color: $color-white;
    padding: 24px;
    display: block;
    font-weight: 700;
	font-family: SF Pro Text;
	line-height: 19px;
}
.button-create:hover {
    @include bgc($button-color-hover);
}