.sign-in {
    background: linear-gradient(180deg, rgba(229,178,202,1) 0%, rgba(205,130,222,1) 100%);
}
.sign-up {
    background: linear-gradient(180deg, #9183DE 0%, #A094E3 100%);
}
.btn-sign-in {
    background-color:#78258B;
}
.btn-sign-up {
    background-color:#52439A;
}