@mixin input() {
  border: none;
  width: 100%;
  border-radius: $borderRadius;
  cursor: pointer;
}
@mixin btn($btnColor) {
  @include input;
  color: $textColor;
  background-color: $btnColor;
  box-shadow: $boxShaDownBtn;
}
