.container {
  padding: 10px 5px;
  position: relative;
  &:hover {
    background-color: burlywood;
  }

  .dateRange {
    position: absolute;
    display: flex;
    right: 0;
    top: 50px;
    border: 2px solid #000;
    padding: 10px 20px 40px 20px;

    .startDate {
      margin-right: 5px;
    }
  }
}

.wrapper {
  position: relative;
  .exit {
    position: absolute;
    top: 110px;
    border: 2px solid #000;
    padding: 4px 20px;
    border-radius: 5px;
    left: -4px;

    &:hover {
      background-color: rgb(255, 55, 55);
      color: #fff;
      border-color: transparent;
    }
  }
}
