@font-face {
    font-family: myFontFree;
    src: url("../../fonts/FontsFree-Net-SFProDisplay-Regular.ttf");
}
@font-face {
    font-family: Boldd;
    src: url("../../fonts/SF-Pro-Display-Bold.otf");
}

@font-face {
    font-family: pro;
    src: url("../../fonts/SF-Pro-Display-Medium.otf");
}